*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('../assets/img/Cloudy.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.weather-app {
  height: 100vh;
  padding: 2rem;
  &__current-weather-panel {
    display: flex;
    justify-content: space-around;
  }

  &__current-weather-details {
    display: flex;
  }

  &__chart {
    margin: 1rem 0;
  }

  &__forecast {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-self: end;
    gap: 2rem;
  }
}

.current-weather-details {
  &__temps {
    display: flex;
    font-size: 3rem;
    align-self: center;
  }

  &__measures {
    display: flex;
    flex-direction: column;
  }
}

.weather-icon {
  aspect-ratio: 1 / 1;
  &--big {
    width: 10rem;
  }
}

.measure {
  font-size: 1rem;
  &--active {
    font-weight: bold;
  }

  &:hover {
    cursor: pointer;
  }
}

.button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 0.2rem 0.5rem;
  letter-spacing: 1px;

  &--active {
    font-weight: bold;
  }

  &:hover {
    cursor: pointer;
  }
}

.forecast {
  &__day {
    text-align: center;
    background-color: rgba($color: royalblue, $alpha: 0.9);
    border-radius: 5px;
    padding: 2rem;
    transition: 0.2s;

    &--active {
      border-bottom: 5px solid #ddd;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__temps {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    pointer-events: none;
  }
}

.chart {
  height: 500px;
  max-height: 500px;
}

.temp {
  &--min {
    color: #ddd;
  }
  &:after {
    content: '°';
  }
}

.current-day-info {
  text-align: center;
  &__title {
    font-size: 3rem;
  }
}
